<!--begin::Portlet-->
<div class="m-portlet m-portlet--tab">
        <div class="m-portlet__body">
            <div class="m--padding-top-20 m--padding-bottom-20">
                <div class="target-audience-wrapper">
                    <div class="form-group m-form__group">
                        <h5>
                            Target Audience
                        </h5>
                    </div>
                    <div class="total-createcrd">
                        <div class="fff">
                            <div class="ff_2">
                                <label>Target Audiance</label> 
                                <select (change)="targetChanged($event.target.value)" [(ngModel)]="model.target" [ngClass]="{'disable-input' : model.status=='paused'}">
                                    <option value="all">All</option>
                                    <option value="targeted">Targeted</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="model.target == 'targeted'">
                            <div *ngFor="let form of tgForms; let i=index">
                                    <form [formGroup]="targetAudience" novalidate >
                                            <!--addresses-->
                                            <div formArrayName="audiences">
                                              <div *ngFor="let audience of targetAudience.controls.audiences.controls; let i=index" class="panel panel-default">
                                                <div class="panel-heading m--margin-top-25 text-right">
                                                  <span [hidden]="isReadOnly()" class="gg" (click)="removeAudience(i)"><i class="fa fa-trash-o"></i></span>
                                                </div>
                                                <div class="panel-body m--margin-top-30" [formGroupName]="i">
                                                  <targeted-audience  [group]="targetAudience.controls.audiences.controls[i]" [readOnly]="isReadOnly()" [targetAudienceHistory]="targetAudienceHistoryFn()"></targeted-audience>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="clearfix"></div>
                                    </form>
                            </div>
                        </div>
                    </div>
                    <div class="text-right addmore-action" [hidden]="model.target != 'targeted' || model.status=='paused'" (click)="addAudience()">
                        <p class="m-portlet__nav-link btn btn-primary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill "
                            style="margin-bottom: 0;">
                            <i class="la la-plus"></i>
                        </p>
                    </div>
                </div>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed b-form" name="card-settings" #f="ngForm"
            novalidate (ngSubmit)="f.form.valid && updateCardSettings(f)">
            <div class="create-budget-wrapper">
                <div class="m-portlet__head m--margin-top-20">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="m-menu__link-icon icon-create-budget"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Create A Budget
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-form__group form-group b-b-border m--margin-top-10 m--margin-bottom-10">
                    <div class="m-radio-list">
                        <label class="m-radio">
                            <input [attr.disabled]="model.status=='paused' == true ? true : null"  name="time_type" [checked]="model.time_type === true" (change)="campaignTypeChanged($event)" [value]="true" type="radio"
                                [(ngModel)]="model.time_type" checked="checked"> Run my advert set continuously starting today
                            <span [ngClass]="{'extra-colorfld' : cardHistory?.time_type==1, 'disable-input' : model.status=='paused'}"></span>
                        </label>
                        <label class="m-radio">
                            <input [attr.disabled]="model.status=='paused' == true ? true : null" name="time_type" [checked]="model.time_type === false" (change)="campaignTypeChanged($event)" [value]="false" type="radio"
                                [(ngModel)]="model.time_type"> Set a start and end date
                            <span [ngClass]="{'extra-colorfld' : cardHistory?.time_type==0, 'disable-input' : model.status=='paused'}"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group m-form__group row" *ngIf="model.time_type == false">
                    <div class="col-lg-12 col-xl-6">
                        <label class=" ">
                            Campaign Start
                        </label>
                        <div class='input-group date' id='m_datetimepicker_5'>
                            <owl-date-time  [disabled]="isReadOnly()" min="{{today}}" [(ngModel)]="model.date_from" name="date_from" dateFormat= 'DD/MM/YYYY hh:mm A' hourFormat="12" inputStyleClass="form-control m-input {{cardHistory?.start_date ? 'extra-colorfld' : ''}}" (onSelect)="dateFromSelected($event)"></owl-date-time>
                            <input type="hidden" [(ngModel)]="model.date_from" #dateFrom="ngModel" required name="date_from">
                            <i class="la la-calendar glyphicon-th date_icon"></i>
                        </div>
                        <span class="m-form__help m--font-danger" *ngIf="f.submitted && !dateFrom.valid && !model.time_type">
                            From date is required
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-6">
                        <label class="">
                            Campaign End
                        </label>
                        <div class='input-group date' id='m_datetimepicker_3'>
                            <owl-date-time  [disabled]="isReadOnly()" min="{{model.date_from}}" [(ngModel)]="model.date_to" name="date_to" hourFormat="12" dateFormat='DD/MM/YYYY hh:mm A' inputStyleClass="form-control m-input {{cardHistory?.end_date ? 'extra-colorfld' : ''}}" (onSelect)="dateToSelected($event)"></owl-date-time>
                            <input type="hidden" [(ngModel)]="model.date_to" #dateTo="ngModel" required name="date_to">
                            <i class="la la-calendar glyphicon-th date_icon"></i>
                        </div>
                        <span class="m-form__help m--font-danger" *ngIf="f.submitted && !dateTo.valid && !model.time_type">
                            To date is required
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-12 col-xl-6">
                        <label class="">
                            Budget Amount
                        </label>
                        <div class="m-input-icon m-input-icon--right category budgettab">
                            <i aria-hidden="true" class="fa fa-usd dollarsign"></i>
                            <input [ngClass]="{'extra-colorfld' : cardHistory?.budget, 'disable-input' : model.status=='paused'}" (change)="budgetChanged()" class="form-control m-input" placeholder="Budget"
                                type="text" [(ngModel)]="model.budget" #cardBudget="ngModel" name="card_budget" required OnlyNumber="true">
                        </div>
                        <span class="m-form__help m--font-danger" *ngIf="f.submitted && !cardBudget.valid">
                            Budget amount is required
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-6">
                        <label class="">
                            Frequency
                        </label>
                        <div class="m-input-icon m-input-icon--right category">
                            <select [ngClass]="{'extra-colorfld' : cardHistory?.frequency, 'disable-input' : model.status=='paused'}" class="form-control m-bootstrap-select m_selectpicker" [(ngModel)]="model.frequency"
                                #frequencyModel="ngModel" name="card_frequency" disabled>
                                <option value="">Select a frequency</option>
                                <option *ngFor="let frequency of cardFrequency" value={{frequency.key}}>
                                    {{frequency.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit" *ngIf="calculatedBudget">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4> Your total budget is ${{calculatedBudget}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="booking-summary-wrapper">
                <div class="m-widget4__item  t_padding">
                        <div class="m-portlet__head m--margin-top-20">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <span class="m-portlet__head-icon">
                                            <i class="m-menu__link-icon icon-create-budget"></i>
                                        </span>
                                        <h3 class="m-portlet__head-text">
                                            Booking Summary
                                        </h3>
                                    </div>
                                </div>
                            </div>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <td>:</td>
                            <td>{{card.name}}</td>
                        </tr>
                        <tr *ngIf="card.description">
                            <th>Description</th>
                            <td>:</td>
                            <td>{{card.description}} </td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>:</td>
                            <td>{{card.address}}</td>
                        </tr>
                        <tr>
                            <th>Nearest Airport</th>
                            <td>:</td>
                            <td>{{card.airport}}</td>
                        </tr>
                        <tr *ngIf="card.category">
                            <th>Category</th>
                            <td>:</td>
                            <td *ngIf="card.category == 'cat1'">Destination</td>
                            <td *ngIf="card.category == 'cat2'">Hotel</td>
                            <td *ngIf="card.category == 'cat3'">Bar/Restaurant</td>
                            <td *ngIf="card.category == 'cat4'">Other</td>
                        </tr>
                        <tr>
                            <th>Card URL</th>
                            <td>:</td>
                            <td>{{this.card.book_now_url}}</td>
                        </tr>
                        <tr>
                            <th>Target Audience</th>
                            <td>:</td>
                            <td>
                                    <table *ngIf="model.target == 'targeted'" class="table table-responsive">
                                            <tbody>
                                              <th>Age From</th>
                                              <th>Age To</th>
                                              <th>Location</th>
                                              <th>Gender</th>
                                            </tbody>
                                            <tr *ngFor="let audience of targetAudience.value.audiences">
                                              <td>{{audience.ageFrom}}</td>
                                              <td>{{audience.ageTo}}</td>
                                              <td>{{audience.address}}</td>
                                              <td>{{audience.gender == 'male' ? "Male" : audience.gender == 'female' ? "Female" : ""}}</td>
                                            </tr>
                                          </table>
                                          <div class="t_center" *ngIf="model.target == 'all'"> All </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Campaign Start Date</th>
                            <td>:</td>
                            <td>{{model.date_from | date : "dd/MM/yyyy hh:mm a"}}</td>
                        </tr>
                        <tr *ngIf="model.time_type === false">
                            <th>Campaign End Date</th>
                            <td>:</td>
                            <td>{{model.date_to | date : "dd/MM/yyyy hh:mm a"}}</td>
                        </tr>
                        <tr>
                            <th>Budget</th>
                            <td>:</td>
                            <td>${{calculatedBudget}}</td>
                        </tr>
                    </table>
                    <h5 class="m--margin-top-30">Disclaimer</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever.</p>
                </div>
            </div>
            <div *ngIf="edit && card.status == 'active'" class="m-form__group form-group b-b-border m--margin-top-10 m--margin-bottom-10">
                <div class="m-radio-list">
                    <label class="m-radio">
                        <input type="radio" name="change_status" value="true" #campaignStatusChange="ngModel" [(ngModel)]="model.statusChange" required> Make this card unavailabe to users untill the changes are approved.
                        <br>
                        <span></span>
                    </label>
                    <label class="m-radio">
                        <input type="radio" name="change_status" value="false" #campaignStatusChange="ngModel" [(ngModel)]="model.ststusChange" required> Make this card availabe to users with previous data untill approved.
                        <br>
                        <span></span>
                    </label>
                    <span class="m-form__help m--font-danger" *ngIf="f.submitted && !campaignStatusChange.valid">
                        Please Select an option
                    </span>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <div class="row">
                        <div class="col-lg-12">
                            <button [ngClass]="{'disable-input' : model.status=='paused'}" class="btn btn-brand m-btn--custom m-btn  m-btn">
                                <span>
                                    <span>Submit</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
</div>
<div *ngIf="loading" class="loading-wrapper">
    <div class="m-loader m-loader--brand m-loader--lg"></div>
    <div class="loading-overlay"></div>
</div>